html, body{
    background-color: #fff;
    height: 100%;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
p{
    font-size: 1em;
    line-height: 2em
    
}
h2{
    font-size: 30px;
    font-family: cursive;
}
img{
    width: 100%;
}
#v-dot{
    width: 3%;
    text-align: center;
    flex: 2;
}

#navigations{
    text-align: right;
    margin: 10px;
    flex: 1;
}
#navigations li{
    list-style: none;
}
#navigations ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
#head{
    width: 100%;
    display: flex;
}
#dot img{
    width: 25%;
}
#top{
    background-color: #09374e;
    text-align: center;
    height: auto;
}

#fam, #top-message{
    padding: 30px;
}
#cloud{
    background-color: rgb(252, 225, 216);
}
.cent, #first{
    text-align: center;
}

#first{
    border-bottom: 1px #09374e solid;
    background-color: #fff;
    width: 100%;
    padding: 0;
    position: fixed;
    z-index: 1000;
}
header{
    padding-top: 90px;
}
footer{
    text-align: center;
}
#right{
    width: 100%;
}
form{
    width: 100%;

}
#right{
    width: 90%;
    margin:15px;
    justify-content: center;
}
.frm, button{
    width: 100%;
}
input, textarea, button{
    width: 100%;
}
input, button{
    height: 30px;
}
.but{
    width: 30%;
    height: 40px;
    padding: 3px;
    text-align: center;
    background-color: transparent;
    border-width:1px;
    border-style: outset;
    border-color: #09374e;
}
.peach-message, .peach-mess{
    padding: 10px;
}
.white-message{
    padding: 2px;
}
#about{
    border-width:  1px 1px 0 1px;
}
input, button, textarea{
    border-radius: 0;
    background-color: transparent;
    border-width:1px;
    border-style: outset;
    border-color: #09374e;
    padding: 5px;

}
.frm{
    margin-top: 15px;
}
textarea{
    font-family: Arial,Helvetica,sans-serif;
}
.white-message h2, #right h2, footer{
    padding-top: 15px;
}
#last{
    background-color: rgb(231, 230, 230);
    padding-top: 5px;
}
#lst{
    height: 40px;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    background-color: #09374e;
    border-color: transparent;
    padding: 10px;
    text-align: center;
}
#Icon{
    width: 50%;
}
#Ic{
    width: 30%;
    border-color: transparent;
}
#girls{
    height: 98%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-size: small;
    cursor: pointer;
    color: #09374e;
    background-color: rgb(252, 225, 216);
    border-radius: 2px;
}
button:hover{
    background-color: #09374e;
    color: rgb(252, 225, 216);
}


@media only screen and (min-width:760px){
    main{
        width: 100%;
    }
    .half{
        float: left;
        width:45%;
    }
    .quart{
        float: right;
        width: 48%;
    }
    #v-dot{
        width: 10%;
        text-align: left;
    }
    #dot{
        width: 30%;
    }
    #Icon{
        display: none;
    }
    
}

@media only screen and (min-width:760px){
    section{
        overflow: hidden;
    }
    ul{
        margin-left: 30;
        float: right;
    }
    li{
        float: left;
        margin: 10px;
    }
    #fam, #top-message{
        padding: 0;
        width: 48%;
    }
    .quart{
        height: 100%;
        float: right;
    }
    #first{
        margin: 0;
    }
    #right{
        width: 48%;
    }
    #girls{
        height: fit-content;
    }
    #girls img{
        height: 580px;
    }
    
    .col{
        margin-top: 30px;
    }
    footer #phone{
        display: none;
    }
    footer{
        margin-top: 30px;
    }
    #v-dot{
        margin: 20px;
    }
    header{
        padding-top: 50px;
    }
    #v-dot p{
        font-size: 28px;
        font-family: cursive;
        padding: 0;
        margin: 0;
    }
    #top-message p{
        font-size: 1.5em;
    }
    h2{
        font-size: 2em;
    }
}

