.top{
	background: linear-gradient(rgba(40,55,71,.97), rgba(40,55,71,.97)), url(../img/video-bg.jpg) no-repeat;
	background-size: cover;
	z-index:5;
	transition-duration:0.95s;
	position:relative;
}
.pad{
	text-align:center;
}

@media (max-width:600px){
	#lad, #dots{
		display:none;
	}
	body{
		text-align:center;
		justify-content:center;
		position:absolute;
		font-size:18px;
		color:#747e88;

	}
	#main{
		color:#283747;
	}

	.only h2{
		font-size:2em;
		margin:0;
	}
	.fit-side{
		width:40%;
	}
	.top{
		height:500px;
		padding:30px;
	}
	.only{
		margin-top:80px;
		text-align:left;
		display:block;
		justify-content:left;
		padding:10px;
		color:#fcfcfc;

	}
	
	#drop-content li{
		list-style-type: none;
		background-color:#fff;
		border:1px #000000;
		border-top:0;
		padding:30px;
		text-align:left;
		padding:8px;
	}
	
	#dropbtn{
		margin-left: 100px;
		float:right;
		background-color: transparent;
		outline-color:transparent;
		border-color:transparent;
	}
	#drop-content{
		display:none;
		float:left;
		background-color:#fff;
		margin-left:0px;
		width:80%;
		margin:auto;
		position:absolute;
	}
	#dropbtn:hover + #drop-content{
		display:block;
	}
	
	#thin{
		width:50%;
		float:left;
		text-align: left;
	}
	#button{
		float:left;
		overflow:hidden;
		background:white;
		color:#747e88;
		width:80px;
		padding:15px;
		border-radius:25px;
		text-align: center;
	}
	#main section{
		margin-top:120px;
		box-sizing:border-box;
	}
	video{
		width:100%;
		height:auto;
		margin-left:-10%;
		position:relative;
		size:cover;
	}
	.para{
		margin-top:100px;
	}
	.Exprt{
	width:100%;
	}
	.js{
		height:auto;
	}
	
	.comply img{
		width:100%;
		display:none;
	}
	
	.tat, .comply, .scale, .hold{
		width:60%;
		border-radius:5% 5% 0 0;
		box-shadow:0px 0px 30px rgba(210, 220, 210, 0.35);
		justify-content:center;
		padding-bottom:30px;
		margin:auto;
		position:relative;
	}
	.hold, .scale, .comply, .sat{
		padding:30px;
		border-radius:5%;
	}
	.blog{
		width:100%;
		border-radius:5% 5% 0 0;
	}
	.spec, .Categ, .line, .Exprt{
		width:100%;
		margin-top:40px;
		margin-bottom:30px;
	}
	.RightSided, .RightSided h2, .LeftSided, .LeftSided h2, .LeftSided img{
	text-align: left;
	}
	.para{
		margin-top:20px;
	}
	video{
		margin-top:50px;
		width:100%;
		outline:white;
		border:1px white solid;
		
	}
	.vid{
		height:600px;
		outline:white;
		border:1px white solid;
	}
	.special{
		display:none;
	}
	.top{
		padding:30px;
	}
	a{
	text-decoration: none;
	color:#283747;
	}
	li{

		list-style: none;
	}
	.icon img{
		background:white;
		padding:3%;
		border-radius:50%;
		box-shadow:0px 0px 30px rgba(210, 220, 210, 0.35);
	}
	.top-blue, main{
		padding:30px 0px 30px 0px;
	}
	#lad{
		width:auto;
		height:auto;
	}
	.scale li{
		display:inline;
		margin-right:20px;
	}
	h2{
		text-align: center;
	}
	.mid, .scale, .hold{
		background:#fff;
		width:60%;
		padding:80px 50px;
		margin:auto;
		margin-bottom:30px;
		border-radius:5%;
		text-align:center;
		box-shadow:0px 0px 30px rgba(210, 220, 210, 0.35);
	}
	form{
		margin:auto;
		width:100%;
	}
	input, textarea{
		width:60%;
		height:30px;
	}
	input, #era{
	border-radius:3px;
	border:1px solid #747e88;
	outline:none;
	transition-duration:0.5s;
	}
	input:focus{
	border-color:#f2a92c;
	}
	textarea{
		height:60px;
	}
	button{
		width:15%;
		height:50px;
		text-align: center;
		background:#f2a92c;
		border-radius:8%;
		border:1px transparent;
		color:#fff;
	}
	.rent{
		background:#f2a92c;
		padding:10px;
		color:#fff;
		border-radius:20px;
	}
	.learn, .spec, .Categ{
			width:100%;
			margin:auto;
	}
	
	body{
	margin:auto;
	font-size:18px;
	font-family:sans-serif;
	}
	h2{
		font-size:40px;
	}
	.center{
		width:53%;
		margin:auto;
	}
	.map{
	background:url(../img/map-bg.svg);
	}
	.map{
	margin-top: 100px;
	padding-top:8px;
	background-color:#f6f6f6;
	height:700px;
	}
	.yellow{
	color:#f2a92c;
	}
	footer{
		border-top:1px #283747 solid;
	}
}	



@media (min-width:600px){
	body{
	min-width:960px;
	font-family:sans-serif;
	background-color:#fcfcfc;
	color:#747e88;
	font-weight:normal;
	font-style: normal;
	margin:0px;
	padding:0px;
	line-height:30px;
}
nav li, .spec li{
	text-decoration:none;
	display:inline;
	padding-bottom: 45px;
	margin-right:30px;
}

.auto{
	padding-left:0px;
}

nav{
	float:right;
	padding-right: 100px;
	margin-bottom:10px;
	margin-top:-50px;
}
a{
	text-decoration:none;
}
#main h2{
	font-size:45px;
	line-height: 55px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #283747;
}

.container{
	width:100%;
	min-width:960px;
	position: absolute;
	margin:0px;
	padding:0px;
	left:0;
}
#main{
	margin-top:900px;
	box-sizing: content-box;
	display:block;
	position: absolute;
	width:100%;
	padding:100px auto;
}
.js{
	width:100%;
	border-radius:20px;
}
.jsc{
	width:80%;
}
.top{
	height:860px;
	background: linear-gradient(rgba(40,55,71,.97), rgba(40,55,71,.97)), url(../img/video-bg.jpg) no-repeat;
	background-size: cover;
	z-index:5;
	transition-duration:0.95s;
	position:relative;
}
.only{
	float:right;
	width: 40%;
	padding-left:80px;
	margin-bottom:50px;
	margin-left: 100px;
	color:#fff;
}
.only h2{
	font-size:55px;
	font-weight:700px;
	line-height: 65px;
}
.only p{
	font-size:18px;
	line-height:28px;
	margin-bottom:35px;
}


#lad{
	border-radius:0px 0px 80px 0px;
}
.two{
	width:45%;
	float:left;
}
.tall{
	position:relative;
	width:40%;
	height:350px;
}
#dots{
	width:100%;
	float:right;
	margin-top:-160px;
	position:absolute;
	margin-left:400px;
	z-index: -1;
	vertical-align: middle;
}
#me{
	margin-top:50px;
	display: inline-flex;
	flex-wrap: nowrap;
}
#head{
	padding-top:30px;
}
.icon{
	background: #fff;
}
.icon img{
	border-radius:40px;
	padding:25px 25px;
	transition:all 0.2s ease-out 0s;
	box-shadow:0px 4px 33px rgba(210, 220, 210, 0.68)
}
.small{
	width:35px;
	height:35px;
	border-radius:10px;
}

.tiny{
	width:20px;
	height:20px;
}
.learn{
	width:31.77%;
	background: #fff;
}

.spec{
	width:31.77%;
	background: #fff;
}
.online{
	width:45%;
}

.Categ{
	width:20%;
	height:180px;
	padding-top:30px;
	background: #fff;
	text-align: center;
}

.rap{
	flex-shrink:2px;
}
.Exprt{
	width:21.3%;
	text-align:center;
}
.one{
	margin-top:150px;
	position:relative;
	margin-left: 100px;
	margin-right:100px;
}

.learn,.spec,.Categ,.Exprt, .diff{
	margin:auto;
	display:block;
}

.learn{
	height:350px;
	border-radius: 8px;
	padding:25px 0px;
	text-align: center;
	box-shadow:0px 0px 30px rgba(210, 220, 210, 0.35)
}

.learn, .spec, .Categ, .line, .icon img{
	transition:all 0.2s ease-out 0s;
	visibility: visible;
	animation-delay:0.25s;
	animation-name:learner;
	box-shadow:0px 0px 30px rgba(210, 220, 210, 0.35)
}
.learn h3, .para h3, .Exprt h3, .line h3, .Categ h3, .map h3{
	font-size:25px;
	line-height:30px;
	color:#283747;
}

.spec, .Categ{
	margin-bottom:20px;
	margin-right: 5px;
}
.first{
	padding-left:10px;
	border-radius:20px;
	width:30%;
}
.frst{
	padding-left:10px;
	border-radius:20px;
	width:20%;
}
.center{
	margin:auto;
	width:58.333%;
	text-align:center!important;
	box-sizing:border-box;
	display:block;
}
.wrap, .rap{
	display:flex;
	flex-wrap:wrap;
}
.down{
	margin-top:1000px;
}
#just{
	width:40%;
	margin-left:100px;
	float:right;
	display:inline;
	line-height:18px;
}
#just h2{
	margin-top:0px;
}
.diff{
	position:absolute;
}
.para img{
	float:left;
}
.blo{
	display:block;
	padding-left:80px;
}
.blog{
	border-radius:10px 10px 0px 0px;
	width:100%;
}

.tred{
	margin-right:10px;
}
.line{
	width:30%;
	height:350px;
	margin-left:20px;
}

.instruct, .line{
	border-radius:10px;
	background-color:#fff;
}
.instruct{
	margin-right:0px;
	margin-left:20px;
}
.comply, .compli{
	width:100%;
}
.compli{
	height:500px;
}
.tat{
	margin-left:0px;
}
.Botton{
	background-color:white;
	color:#283747;
	padding:14px 14px;
	text-align:center;
	border-radius:40px;
	width:30%;
	height:50px;
	border:2px solid #f2a92c;
}

.Botton:hover{
	color:#f2a92c;
}
#button{
	background-color:white;
	padding:14px 25px;
	display:inline-block;
	text-align:center;
	border-radius:28px;
	color:#283747;
}
#button:hover{
	background-color:#f2a92c;
	color:white;
}
input, #era{
	border-radius:3px;
	border:1px solid #747e88;
	outline:none;
	transition-duration:0.5s;
}
input:focus{
	border-color:#f2a92c;
}
textarea, #subj{
	width:100%;
}
#mail, #name{
	width:50%;
}
#mail{
	margin-left:10px;
}
#send{
	float: right;
	width:20%;
	background:#f2a92c; 
	border-radius:5px;
	color:white;
	cursor: pointer;
	overflow: hidden;
}
textarea{
	height:200px;
}
#name, #mail, #subj, #send{
	height:45px;
}
footer{
	clear:both;
	border-top: 1px solid #d1d1d1;
	padding-top: 18px;
	margin-top: 80px;
}
footer a{
	color:#747e88;
}
#mitt{
	width:100%;
	display:inline-flex;
}
#left{
	float:left;
	overflow:hidden;
}
#right{
	float:right;
	margin-top:10px;
}
.three{
	margin-top:150px;
}
.yellow{
	color:#f2a92c;
}
.pec{
	color:#283747;
}
#Read{
	color:#f2a92c;
	border-bottom:1px solid #f2a92c;
	padding-bottom:10px;
}

header{
	margin-top:0px;
}
header:scroll{
	position:fixed;
}
.white, .rent{
	color:white;
}
.white:hover{
	color:#f2a92c;
}
#last{
	background-color:#ffb206;
	padding:14px 25px;
	text-align:center;
	border-radius:25px;
}
.apart{
	width:100%;
	background-color:#f6f6f6;
}

.map{
	background:url(../img/map-bg.svg)
}
.all{
	display:block;
}
.Exprt a{
	color:#747e88;
}
.on{
	list-style:none;
	display:block;
	text-align:left;
	width:100%;
}
.Exprt a:hover{
	color:#f2a92c;
}
.map{
	margin-top: 100px;
	padding-top:8px;
	background-color:#f6f6f6;
	height:700px;
}
#dropbtn{
		display: none;
}

}