.conntainer{
	margin:auto;
	max-width:800px; 
}
@media (min-width:600px){
	#contain{
		background:#0392BF;
		overflow:hidden;
	}
	#image{
		float:left;
		width:50%;
	}

	.sid{
		float:right;
		width:50%;
		padding-left: 40px;
		box-sizing:border-box;
	}
	#one{
	position:relative;
	overflow: hidden;
	margin-top:50px;
	height: 700px;
	width:100%;
	margin-top:10px;
	}
	
	#side{
		width:95%;
		float:right;
		overflow: hidden;
	}
	#aside{
		width:5%;
		height:100%;
		float:left;
		background:#B3D4E0;
		position:absolute;
	}
	#aside ul{
		margin-top:550px;
		margin-right:20px;
	}
	#logo{
	background-color:#ED48BA;
	text-align: center;
	position: absolute;
	width:40px;
	margin: 20px;
	border-radius:20px;
}
	body{
		position:fixed;
	}
	#tag{
		font-size:50px;
		width:400px;
	}

}
body{
	color:#B3D4E0;
	font-family:cursive;
	background:#0392BF;
}
#contain{
	background:#0392BF;
}
li{
	display:inline;
}
a{
	text-decoration:none;
	color:#B3D4E0;
}
nav li{
	display:inline;
	margin-left:30px;
	margin-right:0px;
}
nav ul{
	float:left;
}
nav #chat{
	float: right;
}
#tag{
	margin-top: -320px;
	position:absolute;
	margin-left:120px;
	font-size: 30px;
	width:200px;
	font-family:sans-serif;
}
#img{
	margin-top:-100px;
	width:100%;
	height:auto;
}
.col{
	width:25px;
	height:25px;
	border:1px white solid;
	border-radius:15px;
}
.desig{
	display:inline-block;
	width:100%;
	box-sizing:border-box;
}
.desig h3{
	float:left;
}
.desig ul{
	float:right;
	margin-right:300px;
	margin-top:20px;
}
.desig li{
	display: inline-flex;
	margin-left: 10px;
}
#lst{
	display:inline-flex;
}
#first{
	background-color:#0392BF;
}

#second{
	background-color:#ED48BA;
}

#third{
	background-color:#FBEC06;
}

#fourth{
	background-color:#ffffff
}
#log ul{
	margin-right:-100px;
	float:right;
}
#aside img{
	float:left;
}

.last{
	margin-top:30px;
}
#click{
	background-color:#ED48BA;
	width:20%;
	text-align: center;
	height:30px;
}
select{
	background-color:#0392BF;
	color:#B3D4E0;
	border:1px #B3D4E0 solid;
	width:100px;
	height:30px;
}
