@media(min-width: 800px;){
	#sid{
		width:100%;
		float:left;
	}
	#cover{
		width:100%;
	}
	#container{
		background:#0392BF;
	}
}
body{
	height:auto;
}
#All{
	float:right;
	width:95%;
	margin-left:-30px;
	background:#0392BF;
	font-family:cursive;
	height:auto;
	color:#B3D4E0;
}
aside{
	float:left;
	width:5%;
	margin:0px;
}
#chat{
	float:right;
	width:30%;
	margin-right: -250px;
}
nav{
	float:left;
	width:70%;
}
#head li{
	display:inline;
	margin-left: 50px;
	font-family:cursive;
}
a{
	text-decoration:none;
	color:#B3D4E0;
}
#image{
	float: left;
	width:100%;
	background:url("skate-1.png") no-repeat 200%;
	background-size:cover;
	text-align:center;
	/*-webkit-filter:hue-rotate(45deg);
	filter:hue-rotate(45deg);*/
	/*filter:drop-shadow(0 0 0 rgba(0, 0, 0, .1));*/
	background-color:#0392BF;
	background-size:600px 900px;
	object-fit:cover;
	object-position:-20% 0;
}
#speedy{
	width:100%;
}
.sid{
	float:right;
	width:45%;
	margin-left:50px;
}
#image h2{
	font-size: 50px;
	margin-top: 400px;
	width:400px;
	font-family:sans-serif;
}
#cover{
	width:50%;
}

header{
	margin-left:50px;
}
#container{
	background:#B3D4E0;
	position:fixed;
}
#contain{
	background: #0392BF;
	width:95%;
	float:right;
}
.ic{
	width:100%;
}
#logo{
	background-color:#ED48BA;
	width:40px;
	margin: 20px;
	border-radius:20px;
}
.log ul{
	margin-top:450px;
	margin-right:20px;
	list-style:none;
}
.col{
	width:25px;
	height:25px;
	border:1px white solid;
	border-radius:15px;
}
.desig{
	display:inline-block;
	width:100%;
}
.desig h3{
	float:left;
}
.desig ul{
	float:right;
	margin-right:300px;
	margin-top:-40px;
}
.desig li{
	display: inline-flex;
	margin-left: 10px;
}
.last{
	margin-top:30px;
}
select{
	background-color:#0392BF;
	color:#B3D4E0;
	border:1px #B3D4E0 solid;
	width:100px;
	height:30px;
}
#lst{
	display:inline-flex;
}
#first{
	background-color:#0392BF;
}

#second{
	background-color:#ED48BA;
}

#third{
	background-color:#FBEC06;
}

#fourth{
	background-color:#ffffff
}
#click{
	background-color:#ED48BA;
	width:20%;
	text-align: center;
	height:30px;
}